<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Users</title>
</head>
<body>
    <h1>The Users Page</h1>
    <!-- 
        here we are sending the static file to the client, and we know that client(browser) can uses other api (such as DOM/BOM).
        It means we can use any DOM/BOM APIs in `main.js`.
    -->
    <script src="/main.js"></script>
</body>
</html>